body {
  background-color: lightgoldenrodyellow;
}

#inspiration-header {
  font-family: 'Krona One', sans-serif;
  margin-left: 10px;
}

.inspirationlogo {
  grid-area: contactlogo;
  display: flex;
  flex-direction: row;
  /* align-self: flex-start; */
  justify-self: center;
  /* align-items: center; */
  margin-top: 80px;    
  /* margin-right: 25px; */
  font-size: 40px;
  color: blue;
  font-family: 'Krona One', sans-serif;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "contactlogo contactlogo logo"
  "nav nav logo";
  /* height: 300px; */
}

.navbar {
  grid-area: nav;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-bottom: 35px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 13px;
}

.navbar a:link {
  text-decoration: none;
  color: black
}

.navbar a:hover {
  color: lightseagreen;
}

.inspiration-link {
  color: orange;
}

/* .navbar a:visited {
  color: inherit;
} */


.logo {
  grid-area: logo;
  width: 80%;
  /* height: 70%; */
  display: flex;
  justify-self: end;
  margin-right: 50px;
}

.footer-container {
  background-color: gray;
}



.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .column {
    flex: 15%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    /* max-height: 50% */
  }

  .container {
    position: relative;
    /* width: 50%; */
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: rgba(0, 0, 0, 0.5);
  }

  .container:hover .overlay {
      opacity: 1; 
  }

  .text {
    color: white;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .delay {
    animation-delay: 6s;
    text-align: center;
  }
  
  @media screen and (max-width: 800px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }

    .navbar {
      display: flex;
      flex-wrap: wrap;
  }

  .contactlogo {
      font-size: 25px;
  }

  .text {
    font-size: 35px;
  }

  }
  
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;      
    }
    .text {
        display: block;
        color: white;
        font-size: 35px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }

      .navbar {
        display: flex;
        flex-wrap: wrap;
    }

    .contactlogo {
        font-size: 25px;
    }

    .inspirationlogo {
      font-size: 27px;
    }

  }