/* desktop sim + nav */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

*{
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}
body{
  background-image: url(https://images.unsplash.com/photo-1493934558415-9d19f0b2b4d2?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* width: 100vw; */

}
nav{
  height: 100%;
  margin-left: 8rem;
  grid-area: navdiv;
  z-index: 2;
}
.nav-ul{
  width: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-content: flex-start; */
  height: 100%;
  list-style: none;
  perspective: 640px;
  z-index: 2;
}
.nav-ul:hover li:not(:hover){
  opacity: 0.6;
}
.nav-ul li{
  transform: rotatey(30deg) scalex(1.25);
  transform-origin: left;
  transition: .3s;
}
.nav-ul li:hover{
  transform: rotatey(5deg);
}
.nav-ul li a{
  font-size: 8rem;
  line-height: 1;
  font-weight: bold;
  text-decoration: none;
  color: #222;
  opacity: .6;
}
.nav-ul li a.active,
.nav-ul li a:hover{
  opacity: 1;
  text-decoration: none;
  color: black;
}
/* popup resume iframe */
#resume-modal {
  display: none;
  height: 100vh;
  /* width: 200px; */
  position: absolute;
  left: 30%;
  top: .1%;
  z-index: 2;

}
/* macintosh screensaver canvas */
#canvas-div {
  display: block;
  /* z-index: 1; */
}
/* #my-canvas {
  position: absolute;  
  width: 20%;
  height: 20%; 
  bottom: 30.5%;

  right: .05%;  

} */

/* #my-canvas {
  display: block;
  width: 26.2%;
  height: 28.2%; 
  position: absolute;
  right: 1%;  
  bottom: 22.5%;
} */

/* macintosh wallpaper div */
#macWallpaper {
  display: none;
  border-radius: 5px 5px 5px 5px;
  width: 26.4%;
  height: 28.2%; 
  position: absolute;
  bottom: 22.5%;
  right: .8%;  
  background: url(/wallpaper2you_259466.jpg) no-repeat;
  background-size: cover;
  /* z-index: 1; */
  /* overflow: hidden;   */
}
/* about-page mac preview */
#mini-inspiration-mac-preview-container {
  /* display: none; */
  border-radius: 3px 5px 5px 5px;
  width: 26%;
  height: 28%; 
  position: absolute;
  bottom: 22.8%;
  right: 1.2%;  
  background: url(/da7896d6abe683cec8eae4da1cec5fa8.jpg) no-repeat;
  background-size: cover;
}
/* hang in there poster */
.cat-img {
      position: absolute;
      top: 1%;
      left: 38%;
      width: 250px;
      height: 300px;
      background: url(/images/hang-in-there.jpg) no-repeat;
      background-size: contain;
      opacity: .5;
      z-index: -1;
      /* box-shadow: 1px 1px 2px #ccc;
      -moz-box-shadow: 1px 1px 2px #ccc;
      -webkit-box-shadow: 1px 1px 2px #ccc;
      -khtml-box-shadow: 1px 1px 2px #ccc; */
    }





/* about-page-modal */
 .about-modal-class {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#about-modal-content {
  background-color: #fefefe;
  margin: 0% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.about-me-h2 {
  text-align: center;
  line-height: 42px;
  font-size: 30px;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: white;
  text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.about-me-content {
  text-align: center;
  font-size: 43px;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: white;
  text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.about-me-content-span {
  font-size: 28px;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: white;
  text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow:
    1px 1px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;

}

mark {
  font-weight: 900;
  background-color: rgba(207,221,25,0.52);
  
}

hr {
  border: 1px solid black;
}

/* The Close Button */
.about-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.about-modal-close:hover,
.about-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 









/* CONTACT MODAL */
/* #contact-modal-container { */
  /* display: none; */
/* } */

.contact-icons {
  font-size: 40px;
  text-align: center;
}

.contact-icons li {  
  color: black;
  opacity: .4;
}

.contact-icons li:hover {
  /* color: white; */
  /* background-color: black; */
  opacity: 1;
}

.contact-icons a:visited {
  text-decoration: none;
  color: black;
}

/* email tooltip */
#tooltip, #tooltip1, #tooltip2, #tooltip3 {
  position: relative;
  font-size: 40px;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}


.tooltiptext {
  visibility: hidden;
  font-size: 25px;
  width: 280px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;  
  line-height: 34px;
  position: absolute;
  top: 40px;
  left: -90px;
  z-index: 2;
}

.tooltiptext1 {
  visibility: hidden;
  font-size: 25px;
  width: 190px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;  
  line-height: 34px;
  position: absolute;
  top: 40px;
  left: -110px;
  z-index: 2;
}

.tooltiptext2 {
  visibility: hidden;
  font-size: 25px;
  width: 450px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;  
  line-height: 34px;
  position: absolute;
  top: 40px;
  left: -130px;
  z-index: 2;
}

.tooltiptext3 {
  visibility: hidden;
  font-size: 25px;
  width: 320px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;  
  line-height: 34px;  
  position: absolute;
  top: 40px;
  left: -210px;
  z-index: 2;
}

#tooltip:hover .tooltiptext, #tooltip1:hover .tooltiptext1, #tooltip2:hover .tooltiptext2, #tooltip3:hover .tooltiptext3 {
  visibility: visible;
}

.contact-modal-class {  
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#contact-modal {
  background-color: #fefefe;
  margin: 0 auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.contact-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.contact-modal-close:hover,
.contact-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 




.forms-header {
  text-align: center;
  width: 460px;
  margin: auto;
  border: 3px solid black;  
  text-align: center;
  line-height: 42px;
  font-size: 30px;
  color: black;
  background-color: rgba(207,221,25,0.52);
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: white;
  text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.button {
  background-color: rgba(207,221,25,0.52);
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: auto;
  font-size: 18px;
  font-family: "arial-black", gadget, sans-serif;
  font-weight: 800;
  cursor: pointer;
  margin-top: 35px;
  margin-bottom: 35px;
  width: 35%;
  height: 35%;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: white;
  text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    /* opacity: .8; */

}

.button:hover {
  background-color: rgba(207,221,25,0.52);
  color: white;
  border: 5px solid black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: white;
  text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    /* opacity: 1; */
}

.button:active {
  font-size: 16px;
  height: 35%;
  width: 35%;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: white;
  text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  -webkit-text-stroke: 1px black;
  color: white;
  /* text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000; */
}

.forms-container {
  margin: auto;
  /* width: 80%; */
  display: flex;
  justify-content: center;
  width: 720px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 5px;
}

input {
  width: 100%;
  padding: 12px 200px;
  margin: 1px 0;
  box-sizing: border-box;
  border-radius: 9px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  /* border: 5px solid black; */
}

input::placeholder {
  color: black;
  font-weight: bold;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: .7;
}

input:focus {
  box-sizing: border-box;
  border: 9px solid orange;
  border-radius: 9px;
  
}

textarea::placeholder {
  color: black;
  font-weight: bold;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: .7;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 5px solid black;
  border-radius: 9px;
  background-color: #f8f8f8;
  resize: none;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

textarea:focus {
  border: 9px solid orange;
}

.overlay {
  opacity: .7;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.5);
}

.overlay:hover {
  opacity: 1; 
}










/* POP-UP MODAL CSS */
* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  /* display: none; */
  position: absolute;
  z-index: 1;
  padding-top: 5px;
  left: 40%;
  /* top: 1%; */
  width: 60%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  /* width: 90%; */
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 300px;
  width: auto;
  padding: 14px;
  margin-top: -50px;
  background-color: green;
  /* color: orange; */
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 1px 1px 0;
  user-select: none;
  -webkit-user-select: none;
  opacity: .8;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  /* background-color: orange; */
  opacity: 1;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  background-color: #222;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.mySlides img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.mySlides img.hover-shadow {
  transition: 0.3s;
}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}





/* blog screensaver */
#mini-blog-div {
  display: none;
}

#mini-blog-img {
  width: 116%;
  margin-left: -68px;
  margin-top: -2px;
}

#mini-blog-container {
  width: 20%;
  height: 20%; 
  position: absolute;
  bottom: 30.5%;
  right: .05%; 
}

/* resume screensaver */
#mini-resume-div {
  display: none;
}

#mini-resume-img {
  width: 58%;
  margin-top: -3px;
}

#mini-resume-container {
  width: 20%;
  height: 20%; 
  position: absolute;
  bottom: 30.5%;
  right: .05%;  
}


/* contact-me-screensaver */
#mini-contact-me-div {
  display: none;
}

#mini-contact-me-img {
  width: 95%;
  margin-top: -2px;
  margin-left: -40px;
}

#mini-contact-me-container {
  width: 20%;
  height: 20%; 
  position: absolute;
  bottom: 30.5%;
  right: .05%;  
}


/* about-me screensaver */
#mini-about-me-div {
  display: none;
}

#mini-about-me-img {
  width: 112.1%;
  margin-top: 1px;
  margin-left: -64px;
}

#mini-about-me-container {
  width: 20%;
  height: 20%; 
  position: absolute;
  bottom: 30.5%;
  right: .05%;  
}







/* portfolio screensaver */
#mini-slideshow-div {
  display: none;
  
}

.mini-img1 {
  width: 40%;
  margin-left: 24px;
}

.mini-img2 {
  width: 60%;

}

.mini-img3 {
  width: 69%;
  margin-left: -10px;

}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}

.miniSlides {display: none}
img {vertical-align: middle;}

.mini-slideshow-container {
  width: 20%;
  height: 20%; 
  position: absolute;
  bottom: 30.5%;
  right: .05%;  
}






/* @media screen and (min-height: 680px) and (min-width: 1400px) {
  #my-canvas {
    display: none;
  }
}


@media screen and (min-height: 750px) {
  #my-canvas {
    display: none;
  } */

/* } */

@media (min-aspect-ratio: 9/5) {
  #my-canvas {
    /* background-color: blue;  */
    width: 26.2%;
    height: 27.5%; 
    position: absolute;
    bottom: 22.9%;
    right: 1%;
  }

  #macWallpaper {
    /* background-color: blue; */
    display: none;
    border-radius: 12px 9px 5px 5px;
    width: 26.1%;
    height: 28.4%; 
    position: absolute;
    bottom: 22.7%;
    right: 1.1%; 
    background: url(/wallpaper2you_259466.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;  
  }

  #mini-inspiration-mac-preview-container {
    display: none;
    border-radius: 12px 9px 5px 5px;
    width: 26.1%;
    height: 28.4%; 
    position: absolute;
    bottom: 22.7%;
    right: 1.1%; 
    background: url(/da7896d6abe683cec8eae4da1cec5fa8.jpg) no-repeat;
    background-size: cover;
    
  }

} 

@media (max-aspect-ratio: 9/5) {
  #my-canvas {
    /* background-color: blue;  */
    width: 26.2%;
    height: 25%; 
    position: absolute;
    bottom: 25.4%;
    right: 1%;
    
  }

  #macWallpaper {
    display: none;
    /* background-color: blue; */
    width: 26.1%;
    height: 26.39%; 
    position: absolute;
    bottom: 24.1%;
    right: 1.025%;
    background: url(/wallpaper2you_259466.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;      
    border-radius: 5px 6px 5px 6px;
  }

  #mini-inspiration-mac-preview-container {
    display: none;
    /* background-color: blue; */
    width: 26.1%;
    height: 26.39%; 
    position: absolute;
    bottom: 24.1%;
    right: 1.025%;
    background: url(/da7896d6abe683cec8eae4da1cec5fa8.jpg) no-repeat;
    background-size: cover;
    
  }

} 

@media (min-aspect-ratio: 5/2) {
  #my-canvas {
    /* background-color: blue;  */
    width: 26.2%;
    height: 33%; 
    position: absolute;
    bottom: 17.4%;
    right: 1%;    
  }
    #my-canvas {
      display: none;
    }
}

@media (min-aspect-ratio: 2/3) {
  #my-canvas {
    /* display: none; */
  }

}

@media screen and (max-width: 1900px) and (min-height: 1500px) {
  /* #my-canvas {
    background-color: blue; 
    width: 26.2%;
    height: 33%; 
    position: absolute;
    bottom: 17.4%;
    right: 1%;    
  } */
    #my-canvas {
      display: none;
    }
}

@media screen and (max-width: 1280px) and (min-height: 750px) {
  #my-canvas {
    display: none;    
  }
}

@media screen and (max-width: 1630px) and (min-height: 950px) {
  #my-canvas {
    display: none;    
  }
}

@media screen and (max-width: 1590px) and (min-height: 1050px) {
  #my-canvas {
    /* background-color: blue;  */
    width: 26.2%;
    height: 25%; 
    position: absolute;
    bottom: 25.4%;
    right: 1%;    
  }

  #my-canvas {
    display: none;
  }
  #macWallpaper {
    display: none;
  }

}

@media screen and (max-width: 950px) {
  #my-canvas {
    /* background-color: blue;  */
    width: 26.2%;
    height: 25%; 
    position: absolute;
    bottom: 25.4%;
    right: 1%;    
  }

  #my-canvas {
    display: none;
  }
  #macWallpaper {
    display: none;
  }
}

@media screen and (min-width: 1500px) {
  /* hang in there poster */
.cat-img {
  position: absolute;
  width: 40%;
  height: 40%;
  top: 1%;
  left: 40%;
  background: url(/images/hang-in-there.jpg) no-repeat;
  background-size: contain;
  opacity: .5;
  z-index: -1;
  }
}

@media screen and (min-width: 100px) and (max-width: 1100px) {
  .cat-img {
    position: absolute;
    width: 35%;
    height: 35%;
    top: 1%;
    left: 44%;
    background: url(/images/hang-in-there.jpg) no-repeat;
    background-size: contain;
    opacity: .5;
    z-index: -1;
    }
}

@media screen and (max-width: 1326px) and (min-height: 840px) {
  .cat-img {
    display: none;    
  }
}
